name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: stefanoeb/eslint-action@1.0.2
          with:
            host: ${{ secrets.SERVER_IP}}
            username: ${{ secrets.SERVER_USERNAME}}
            password: ${{ secrets.SERVER_PASSWORD}}
            script: cd ${{ secrets.PROJECT_PATH}} && git pull & mp2 restart all && sudo systemctl restart nginx
